body {
	margin: 0px;
	padding: 0px;
	background-color: #4b8e25;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
}
.number_of_change_desktop {
	font-size: 24px;
	margin: 0px auto;
	text-align: center;
}
.slider__box {
	border: 3px solid blue;
	width: 0px;
	margin: 0px auto;
}
.slider {
	width: 0px;
	height: 30px;
	background-color: black;
}
.card__box {
	max-width: 900px;
	margin: 0px auto;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.card__item {
	background-color: white;
	margin-top: 7px;
	flex: 0 1 16%;
	width: 300px;
	height: 150px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		display: block;
		width: 130px;
	}
}
.card__item_img {
	display: block;
	margin: 0px auto;
}
h1 {
	text-align: center;
	color: #5a2d01;
	font-weight: bold;
}
.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.729);
	display: none;
	justify-content: center;
	align-items: center;
}

.popup__content {
	height: 270px;
	width: 300px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}
.popup__title {
	margin-top: 50px;
	font-size: 26px;
}
.popup__result {
	font-weight: bold;
	font-size: 22px;
	color: red;
}
.popup__review {
	margin-top: 20px;
	font-size: 24px;
}
.number_of_correct_pair {
}
.popup__change {
	font-size: 24px;
	margin-top: 20px;
}
.number_of_change {
}
.btn_try_again {
	display: block;
	margin: 0px auto;
	margin-top: 20px;
	background-color: #4b8e25;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	cursor: pointer;
}
.show-popup {
	display: flex;
}
